// ==|== Core variables ======================================================
//   The variables that will be set throughout the site for the style guide
//   =========================================================================

$style-guide-image-base-url: '../../images/style-guide';
$image-base-url: '../../images';

$body-min-width: inherit;

// ==|== End Core variables ======================================================